header{
  width: 100%;
  display: flex;
  color: inherit;
  div{
    width: 50%;
  }
  img{
    width: 80%;
    aspect-ratio: 1 / 1 ;
    object-fit: cover;
    border-radius: 10px;
  }
}

.HomeCard {
  // border-bottom: 1px solid grey;
  width: 100%;
  color: inherit;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
  .HomeCardHeader {
    a {
      text-decoration: none;
      color: inherit;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px;
    }
  }

  .HomeCardBody {
    display: flex;
    // justify-content: space-between;
    color: inherit;
    text-decoration: none;

    .imgContainer{
      width: 20%;
      min-width: 250px;
      height: 250px;
      margin-right: 2em;
      img{
        width: 250px;
        height: 100%;
        object-fit: cover;
      }
    }

    .content{
      width: 60%;
      h3 {
        text-transform: capitalize;
      }
    }


    img {
      width: 20%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  &:hover{
    outline: 1px solid inherit;
  }
}


.NewPostButtonLight {
  background-color: inherit;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  // border: 1px solid #111111;
  color: inherit;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.NewPostLight {
  position: fixed;
  z-index: 100;
  left: 10%;
  top: 10%;
  width: 80%;
  background-color: inherit;
  transition: all 0.5s ease-in-out;

  input {
    width: 100%;
    display: block;
    background-color: transparent;
    border: 1px solid grey;
    color: inherit;
    border-radius: 5px;
  }

  textarea {
    background-color: transparent;
    border-radius: 5px;
    color: inherit;
    resize: none;
    width: 100%;
  }

  button {
    background-color: inherit;
    border: none;
    border-radius: 50px;
    font-weight: bold;
  }
}


.NewPost {
  // display: none;
  // background-color: red;
  position: fixed;
  z-index: 100;
  left: 10%;
  top: 10%;
  width: 80%;
  background-color: grey;
  transition: all 0.5s ease-in-out;

  input {
    width: 100%;
    display: block;
    background-color: transparent;
    border: 1px solid grey;
    color: inherit;
    border-radius: 5px;
  }

  textarea {
    background-color: transparent;
    border-radius: 5px;
    color: inherit;
    resize: none;
    width: 100%;
  }

  button {
    background-color: inherit;
    border: none;
    border-radius: 50px;
    font-weight: bold;
  }
}

.NewPostButton {
  background-color: inherit;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  border: none;
  color: inherit;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 90;
  cursor: pointer;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
