<div ngClass="mt-4">
  <!-- {SD.map((post, index) => <ProfileCard key = {index} title = {post.title} description = {post.description}/>)} -->
  <div>
    
    <div ngClass="Backdrop" [hidden]="!newPost" (click)="toggleNewPost()"></div>
    <div ngClass="NewPost p-2" [ngStyle]="{transform: newPost ? 'translateY(0)' : 'translateY(-100vh)'}">
      <input name='title' type="text" placeholder='Title' ngClass='p-2 my-1' onChange={getValues} />
      <textarea name='content' value={sendDataValues.content} cols="30" rows="10" placeholder='Text' ngClass='p-2 mt-1' onChange={getValues}></textarea>
      <button onClick={addPostHandler}>Submit</button>
    </div>
  </div>
  <button ngClass="NewPostButton" (click)="toggleNewPost()">B</button>
</div>
