<main class="container mx-auto">
  <header class="w-3/4 mx-auto">
    <img src="{{article.articleImg}}" class="rounded-xl mx-auto object-cover w-full"/>
    <div></div>
    <h1 class="text-4xl text-center">{{article.title}}</h1>
  </header>
  <article class="mt-10">
    <div class="mb-4">By <a routerLink="/Profile/{{article.userName}}" style="display: inline-block" class="mx-2"><img [src]="article.userImg" class="rounded-full w-8" style="display: inline"/> {{article.userName}}</a></div>
    <p>{{article.content}}</p>
  </article>
</main>
