.light {
  color: black !important;

  .LS {
    input {
      color: black !important;
    }
  }

  .Suggest {
    button {
      color: black !important;
      border: 1px solid black !important;

      &:hover {
        color: white !important;
        background: black !important;
      }
    }
  }
}

.Home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: inherit;
  width: 90%;
  margin-inline: auto;

  .LS {
    width: 60%;

    h2 {
      border-bottom: 1px solid grey;
    }

    .SI {
      border: 1px solid grey;
      border-radius: 20px;
      background: transparent;
      color: inherit;
    }
  }

  .RS {
    width: 30%;

    .Suggest {
      display: flex;
      justify-content: space-between;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }

      button {
        color: white;
        background: transparent;
        border: 1px solid white;
        border-radius: 25px;
        transition: all ease-in-out 0.2s;
        font-weight: bold;

        &:hover {
          color: black;
          background: white;
          border: 1px soild black;
        }
      }
    }
  }
}

.light {
  color: black !important;

  a {
    color: black !important;
  }
}

.HomeCard {
  border-bottom: 1px solid grey;
  width: 100%;
  color: inherit;

  .HomeCardHeader {
    a {
      text-decoration: none;
      color: inherit;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px;
    }
  }

  .HomeCardBody {
    display: flex;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;

    h3 {
      text-transform: capitalize;
    }

    img {
      width: 20%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .Tools {
    display: flex;
    justify-content: flex-end;

    button {
      border: none;
      background-color: transparent;
      color: inherit;
    }
  }
}

@media (width < 1000px) {
  .HomeCardBody {
    img {
      display: none !important;
    }
  }
}


@media (width < 1200px) {
  .LS {
    width: 100% !important;
  }

  .RS {
    display: none;
  }
}
